---
layout: default
title: Daily AI Bytes
description: A place for my daily brain food.
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <p class="author">
    <small>{{ post.date | date: "%B %d, %Y" }}</small>
  </p>
  <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <!-- <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a> -->
     <a href="{{ site.url }}/daily_ai_bytes/page{{ paginator.previous_page }}/">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <!-- <a href="{{ paginator.next_page_path }}" class="next">Next</a> -->
    <a href="{{ site.url }}/daily_ai_bytes/page{{ paginator.next_page }}/">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>